body {
    background-color: #6d026d;
    color: rgb(223, 213, 213);

    font-family: "Bai Jamjuree", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(175, 5, 5);
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 70%;
}

img {
    max-width: 42%;
}